.form-content{
    border: 1px solid wheat;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    position: absolute;
    left: 5%;
    z-index: 1;

    &__input{
        margin: 15px 0;
        font-size: 20px;
        font-family: 'Segoe UI';
        color:orchid;
    }
}


.png{
    border: 20px solid black;
    box-shadow: 0 0 15px 7px var(--color-primary-margin);
    width: 1000px;
    margin-top: 50px;
    
    position: absolute;
    display: flex;
    justify-content: center;
    right: 5%;

    background-image: url(../../../assets/1pX9.gif);
    
    // &__bk{
    //     width: 400px;
        
    //     position: absolute;
    //     align-items: center;
    //     transform: rotate(90deg);
        
    // }
    &__item{
        width: 600px;
        z-index: 1;
        margin-bottom: 50px;
    }
}