<div>
    <form [formGroup]="contactForm" (submit)="submitForm()" class="form-content">
        <label for="name" class="form-content__input">Name</label>
        <input formControlName="myName" type="text" name="" id="">

        <span *ngIf="submitted && contactForm.controls.myName.errors">Name is required and need to be more than 2
            characters and less than 14 characters</span>
        <label for="email" class="form-content__input">Email</label>
        <input formControlName="email" type="email" name="" id="">

        <label for="description" class="form-content__input">Description</label>
        <textarea formControlName="description" name="description" id="" cols="30" rows="10"></textarea>

        <label for="gender" class="form-content__input">Gender</label>
        <select formControlName="gender" name="select">
            <option value="male">male</option>
            <option value="female" selected>female</option>
            <option value="other">other</option>
        </select>

        <label for="age" class="form-content__input">Age</label>
        <input formControlName="age" type="number" name="" id="">

        <button class="form-content__input">Enviar</button>
    </form>
    <div class="png">
        <!-- <img src="../../../assets/1pX9.gif" alt="" class="png__bk"> -->
        <img src="../../../assets/nave.png" alt="" class="png__item">
    </div>
</div>