<div *ngFor="let location of locationList" class="hvr">
    <div class="item-of-list" routerLink="{{location.id}}">
        <h3 class="item-of-list__title">{{location.name}}</h3>
        <p class="item-of-list__plus">+</p>
    </div>
</div>