.item-of-list{
    border-top: 1px solid ivory;
    border-bottom: 1px solid ivory;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    &__title{
        margin-left: 30px;
    }
    &__plus{
        margin-right: 30px;
    }
    
}

.hvr :hover{
    background-color: var(--color-primary-margin);
    font-size: 22px;
    color:#145f5f;
    box-shadow: 0 0 15px 10px var(--color-primary-margin);
}