<div class="home-content">
    <div>
        <img src="../../../assets/58f37747a4fa116215a92414 (1).png" alt="" class="home-content__img">
    </div>
    <div>
        <img src="../../../assets/kisspng-portable-network-graphics-clip-art-cartoon-network-5d2ae767e7b410.3611128015630928399491.png"
            alt="" class="home-content__img--portal">
    </div>
    <div>
        <img src="../../../assets/kisspng-rick-sanchez-youtube-meeseeks-and-destroy-pickle-r-rick-and-morty-5ac21f3eb26695.6388095615226714227307.png"
            alt="" class="home-content__img">
    </div>
</div>