.home-content{
    // border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    height: 70;
    background: linear-gradient(rgb(112, 85, 185), #e66465);

    &__img{
        width: 400px;
        
    }
    &__img--portal{
        width: 200px;
        
    }

}