.header-content{
    // border: 1px solid black;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;


    &__title{
        margin-bottom: 40px;
        width: 900px;
    }
    &__link{
        border: 5px solid var(--color-primary-margin);
        box-shadow: 0 0 15px 7px var(--color-primary-margin);
        padding: 20px;
        color: rgb(127, 255, 212);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        margin:30px 15px;
        
    }
    &__link--selected{
        background-color: var(--color-primary-active) ;
    }
}
.hvr :hover{
    border: 2px solid white;
    font-size: 24px;
    background-color: var(--color-primary-active) ;
}