<header class="header-content">
    <img src="../../../../assets/tittle.png" alt="" class="header-content__title">
    <nav class="header-content__nav hvr">
        <a class="header-content__link" routerLink="/" routerLinkActive="header-content__link--selected"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="header-content__link" routerLink="characters"
            routerLinkActive="header-content__link--selected">Characters</a>
        <a class="header-content__link" routerLink='location'
            routerLinkActive="header-content__link--selected">Locations</a>
        <a class="header-content__link" routerLink="contact"
            routerLinkActive="header-content__link--selected">Contact</a>

    </nav>
</header>