<div class="detail-content">
    <figure *ngIf="characterP">
        <h1 class="detail-content__name">{{characterP.name | markText:'Rick'}}</h1>
        <div class="detail-content__file">
            <div class="detail-content__file-item">
                <img src="{{characterP.image}}" alt="" class="detail-content__img">
            </div>
            <div class="detail-content__report">
                <p> STATUS: {{characterP.status}}</p>
                <p>SPECIES: {{characterP.species}}</p>
                <p>TYPE: {{characterP.type}}</p>
                <p>GENDER: {{characterP.gender}}</p>
            </div>
        </div>
    </figure>
</div>