.detail-content{
    // border: 1px solid black;
    display: flex;
    justify-content: center;
   

    &__file{
        // border: 1px solid yellow;
        display: flex;
        align-items: center;
    }
    &__name{
        // border: 1px solid black;
        margin: 5px;
        margin-bottom: 20px;
    }
    &__file-item{
        margin-right: 40px;;
    }
    &__img{
        border-radius: 50%;
        border: 5px solid var(--color-primary-margin);
        box-shadow: 0 0 15px 10px var(--color-primary-margin);
        width: 200px;
    }
}