.detail-content{
    // border: 1px solid black;
    display: flex;
    justify-content: center;

    &__item{
        border: 1px solid white;
        text-align: center;
        box-shadow: 0 0 15px 7px var(--color-primary-active);
        background-color: lightpink;
        padding: 40px;
        border-radius: 50%;
    }

}