<div *ngIf='locationP' class="detail-content">
    <div class="detail-content__item">
        <h2>{{locationP.name}}</h2>
        <p>TYPE: {{locationP.type}}</p>
        <p>DIMENSION: {{locationP.dimension}}</p>
        <p>CREATED: {{locationP.created}}</p>
    </div>
</div>