<div class="gallery">
    <div class="row">
        <div *ngFor="let item of itemList" class="col-md-6 col-lg-3">
            <figure class="gallery__item " routerLink="{{item.id}}">
                <div class="hvr">
                    <img src="{{item.image}}" alt="" class="gallery__img ">
                </div>

                <p>{{item.name}}</p>

            </figure>

        </div>

    </div>
</div>