// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins/breakpoints";


.gallery__item{

    // border: 1px solid black;
    width: 320px;
    text-align: center;
    
}

.gallery__img{
    border-radius: 50%;
    border: 5px solid var(--color-primary-margin);
    box-shadow: 0 0 15px 10px var(--color-primary-margin);
    // @include media-breackpoint-down(lg){
    //     // border-radius: 0%;
    // }
    cursor: pointer;
}

.hvr :hover{
    width: 270px;
    border: 3px solid white;

}
